.custom-card{
  max-width: 672px;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  padding: 32px;
}

.custom-card i{
  font-size: 48px;
  color: #64748B;
}

.title{
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  color: #1A2856;
  margin-bottom: 20px;
}

.atividade-group{
  margin-bottom: 32px;
}
