<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">Geração de certificados</h1>
    <p class="mb-4 custom-subtitle">Preencha os dados para gerar um novo certificado</p>
  </div>

  <div class="custom-card w-100">
    <h2 class="title">Novo certificado</h2>
    <div class="mb-3 custom-input-group">
      <label for="nome" class="form-label" [ngClass]="{'text-danger-label': campoValido(nomeRef)}" >Nome completo</label>
      <input [(ngModel)]="certificado.nome" #nomeRef="ngModel" name="nome" maxlength="150" required type="text"
        class="form-control custom-input" name="nome" id="nome" placeholder="Digite o nome completo do aluno">
      @if(campoValido(nomeRef)){
      <div class="error-message d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="m-0">O nome do aluno é obrigatório</p>
      </div>
      }
    </div>

    <div class="mb-3 d-flex align-items-end">
      <div class="flex-grow-1 me-2 custom-input-group">
        <label for="activity" class="form-label" >Atividade</label>
        <input [(ngModel)]="actividade" #actividadeRef="ngModel" name="actividade" maxlength="50"  type="text"
          class="form-control custom-input" name="activity" id="activity" placeholder="Digite o título da atividade">
      </div>
      <app-secondary-button (click)="adicionarAtividade()" [textoBotaoSecundario]="'Adicionar'" [disabled]="!actividade || actividade.length == 0" [phpClass]="'ph ph-plus'" [ngStyle]="campoValido(actividadeRef) ? {'margin-bottom': '24px'} : {}" ></app-secondary-button>
    </div>

    <div class="atividade-group">
      <label class="form-label">Lista de Atividade</label>
      <div class="item-list w-100">
        @for(actividade of certificado.actividades; track $index) {
        <div class="item">
          <span class="item-text">{{actividade}}</span>
          <div (click)="removeAtividade($index)" class="remove-btn">
            <i class="ph-bold ph-x"></i>
          </div>
        </div>

        @if ($index + 1 != certificado.actividades.length) {
        <hr>
        }
        }
      </div>
    </div>

    <app-primary-button (click)="submit()" [textoBotao]="'Gerar certificado'" [disabled]="!formValido()" ></app-primary-button>

  </div>

</form>
