<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between align-items-center menu-certificado w-100">
      <div class="d-flex align-items-center btn-voltar" >
          <i class="ph ph-arrow-left"></i>
          <p class="m-0" >Voltar</p>
      </div>
    <app-secondary-button></app-secondary-button>
  </div>

  <div class="certificado d-flex justify-content-center align-items-center">
    <img src="certificate/Certificate_Ribbon.png" alt="Certificado" class="icone-medalha">
    <div class="conteudo-certificado">
      <img class="img-assinatura" src="certificate/Certificate_Signature.svg" alt="Assinatura">
      <div class="info-certificado d-flex flex-column align-items-center">
        <div class="titulo-subtitulo-certificado">
          <h1>CERTIFICADO DE CONCLUSÃO</h1>
          <P>Este certificado comprova que</P>
        </div>
        <p class="nome-aluno" >Simão José Mateus</p>
        <div class="lista-actividade-group">
          <p class="lista-actividade-titulo" >Concluiu com sucesso as seguintes atividades:</p>
          <p class="lista-actividade" >Introdução ao Angular, Configuração com Angular CLI, Criação de componentes reutilizáveis, Manipulação de
            dados, Implementação de data binding, Criação de rotas com Angular Router, Consumo de APIs REST</p>
        </div>
      </div>
      <p class="data-emissao">Emitido em 25/04/2025</p>
    </div>
  </div>
</div>
